/** 链接去掉下划线*/
a, a:hover, a:visited, a:link {
    text-decoration: none;
}

a:hover {
    /*鼠标悬停链接颜色*/
    color: #f0ad4e;
}

/* 超过一行显示省略号*/
.single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 首行缩进2字符*/
p {
    text-indent: 2em;
}

pre {
    margin-left: 3em;
    /*padding-left: 2em;*/
}

table {
    margin-left: 2em;
    /*padding-left: 2em;*/
}

/** 图片设置为圆角*/
img {
    border-radius: 16px;
}


