<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://dashidan.com/and_doc/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="https://dashidan.com/and_doc/lib/google-code-prettify/run_prettify.js"></script>
    <link rel="stylesheet" href="https://dashidan.com/css/dashidan.css">
</head>
<body>
<div class="col-md-12 text-center">
    <h2>今日排行榜</h2>
</div>
<div class="col-md-12 text-center">
    <ul>
        <li style="display: flex">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive center-block" src="" width="50px" height="50px">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                姓名
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                经验
            </div>
        </li>
    </ul>
</div>
</body>
</html>